input:hover , select:hover{
  border: 1px solid rgb(142, 142, 142);
  border: 1px solid rgb(178, 206, 255);
  background-color: rgb(232, 240, 254);
}
p{
font-family: 'Times New Roman', Times, serif;
}

*{
  /* background-color: #f0f5ff; */
}
