<!-- <h1 class="text-center"> {{title}} </h1> -->

<!-- <app-login></app-login> -->
<!-- <app-recrutement></app-recrutement> -->
<!-- <app-depart></app-depart> -->
<!-- <app-liste-employees></app-liste-employees> -->
<!-- <app-avertissement></app-avertissement> -->

<button type="button" class="btn btn-info me-2 ms-5 mt-5"> <a routerLink="/login" routerLinkActive="active">Login</a> </button>
<button type="button" class="btn btn-warning me-2 ms-2 mt-5"> <a routerLink="/listeEmployees" routerLinkActive="active">Liste des employés</a></button>
<button type="button" class="btn btn-secondary me-2 ms-2 mt-5"><a routerLink="/recrutement" routerLinkActive="active">Recrutement</a></button>
<button type="button" class="btn btn-success me-2 ms-2 mt-5"><a routerLink="/depart" routerLinkActive="active">Depart</a></button>
<button type="button" class="btn btn-danger me-2 ms-2 mt-5"><a routerLink="/avertissement" routerLinkActive="active">Avertissement</a></button>

<router-outlet></router-outlet>
